@import '../../variables/colors';
@import '../../mixins/flexes';
.gradient_block{
  background: $gradient_black;
}
.color_back{
  background-color: #121212;
  margin: 0;
  padding: 0;
}

.footer__table{
  width: 89vw;
  margin: 10px auto;
  border-radius: 20px;
  background-color: #222;
  display: flex;
  justify-content: center
}
.footer__padin{
  width: 89vw;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #131313;
  display: flex;
  justify-content: center
}

.new-footer-color{
  background-color: #222222;
}
.menu{
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: #222222!important;
  }
}
.trade{
  background-color: #0e0f12;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  &__menu{
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__cur{
    display: block;
    font-size: 25px;
    font-weight: bold;
  }
  &__account{
    margin: 20px;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
  }
  &__score{
    display: block;
    color: gold;
    font-weight: bold;
    font-size: 25px;
  }
}
#myChart{
  margin: 20px;
  width: 80% !important;
  height: 80vh !important;
  display: block;
  box-sizing: border-box;
}
.page404{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  color: #FFC60B;
  background-color: #0e0f12;
  flex-direction: column;
}
.admin{
  padding-top: 15vh;
}