@import '../../variables/colors';
@import '../../mixins/flexes';
.gradient_block{
  background: $gradient_black;
}
.color_back{
  background-color: #121212;
  margin: 0;
  padding: 0;
}

.footer__table{
  width: 89vw;
  margin: 10px auto;
  border-radius: 20px;
  background-color: #222;
  display: flex;
  justify-content: center
}
.footer__padin{
  width: 89vw;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #131313;
  display: flex;
  justify-content: center
}

.new-footer-color{
  background-color: #222222;
}

.side_bar{
  position: fixed;
  width: 20vw;
  background-color: #222222;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 20px 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, .2) inset;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #f3fb00, #ea7d00);
    border-radius: 10px;
  }

  .list{
    height: auto;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      padding: 10px 0;
      color: #6d7070;
      width: 100%;
      &:hover{
        background-color: #464444;
      }
    }
    &__icon{
    font-size: 30px;
      margin: 4px;
    }
    .active_item{
      background-color: $gold;
      color: #000000;
    }
  }
}
.content{
  line-height: 30px;
  padding: 100px;
  margin-left: 20vw;
  width: 80vw;
  background-color: #111111;
}
.h5-chart{
  color: #9d8c8c;
  font-size: 24px;
  text-transform: capitalize;
}
.infoCoin{
  margin: 50px 0;
  &__symbol{
    color: #9d8c8c;
    text-transform: uppercase;
    font-size: 28px;
  }
  &__name{
    color: white;
    font-size: 28px;
  }
  &__flex{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img{
    width: 80px;
    margin: 5px;
  }
  &__price{
    font-size: 24px;
    margin-top: 10px;
  }
  &__red{
    border-radius: 10px;
    padding: 10px;
    background-color: #f32532;
    color: #ffffff;
    font-weight: 900;
  }
  &__green{
    font-weight: 900;
    border-radius: 10px;
    padding: 10px;
    background-color: #00da64;
    color: #ffffff;
  }
  &__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  &__container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__item{
    display: block;
    font-size: 20px;
    color: #9d8f8f;
  }
  &__block{
    margin: 15px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #484646;
  }
}
.menu{
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: #222222!important;
  }
}
.trade{
  background-color: #0e0f12;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  &__menu{
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__cur{
    display: block;
    font-size: 25px;
    font-weight: bold;
  }
  &__account{
    margin: 20px;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 10px;
  }
  &__score{
    display: block;
    color: gold;
    font-weight: bold;
    font-size: 25px;
  }
}
#myChart{
  margin: 20px;
  width: 80% !important;
  height: 80vh !important;
  display: block;
  box-sizing: border-box;
}
.page404{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  color: #FFC60B;
  background-color: #0e0f12;
  flex-direction: column;
}
.admin{
  padding-top: 15vh;
}