@import '../../mixins/flexes';
.profile{
  margin-top: 42px;
  &__flex{
    height: 63vh;
    @include flex_space();
  }
  &__history{
    width: 50%;
  }
  &__footer{
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #131313;
    display: flex;
    justify-content: center
  }
  &__info{
    display: flex;
    flex-direction: column;
    width: 48%;
    align-items: start;
  }
  &__login{
    margin: 0 10px;
    font-size: 24px;
    color: #FFC60B;
    font-style: italic;
    font-weight: 600;
  }
  &__item{
    display:flex;
    align-items: center;
    text-align: left;
    margin: 5px;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    background-color: #222222;
    &_rank{
      display:flex;
      align-items: center;
      text-align: left;
      margin: 5px;
      padding: 15px;
    }
  }
  &__result{
    margin: 0 30px;
    font-size: 20px;
  }
  &__rang{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFC60B;
    background-color: #0c2135;
  }
}